h3 {
    border:1px solid black;
}
div {
    border:1px solid red;
    position:relative;
    height:1000px;
}
#dois {
    position:absolute;
    left:0px;
    top:0px;
    background-color:#DDDDDD;
}
