ul {
    padding:0;
    margin:0;
    list-style:none;
}
li {
    border:1px solid black;
    width:120px;
    padding:3px;
    position:relative;
}
li:hover {
    background-color:black;
    color:white;
}
/* submenu */
li > ul {
    position:absolute;
    left:126px;
    top:-1px;
    color:black;
}
